{% load static %}
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<style type="text/css">
body {
  background: url('https://image.freepik.com/free-photo/smooth-dark-blue-with-black-vignette-studio-well-use-as-background-business-report-digital-website-template_1258-748.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.button{
    height: 65px;
    width: 65px;
    background-color: #bbb;
</style>
</head>
			{% include 'navbar.html' %}

<body>
<div class="container pt-3">
	<div class="row pt-1">
		<div class="col-md-7">
<h2> Susun Jadwal</h2></div>
</div>
</div>
<div class="container pl-2 pt-5" >
	<div class="row pt-1">
	<div class="col-md-5">
<form id="form" method="POST">
	{% csrf_token %}
	{{ formulir }}
	<br>
	<input type="submit" value="Create">
</form> </div>
<div class="col-md-3 pl-5"><h2>Lihat Rincian</h2>
<a href="{% url 'tabel' %}"><input type="submit" value="Lihat"></a>
</div>

</div>
</div>




</body>
</html>