{% load static %}
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<style type="text/css">
body {
  background: url('https://image.freepik.com/free-photo/smooth-dark-blue-with-black-vignette-studio-well-use-as-background-business-report-digital-website-template_1258-748.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
</style>
</head>
<div class="container pt-2 pl-5"><h2>Detail Jadwal</h2></div>
<div class="container pt-3">

<div class="col-md-7 pl-5 pt-5">
		<div class="table-responsive" id="Table">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Nama Mata Kuliah</th>
                    <th scope="col">Jumlah SKS</th>
                    <th scope="col">Ruang kelas</th>
                    <th scope="col">Deskripsi Mata Kuliah</th>
                    <th scope="col">Nama Dosen</th>
                    <th scope="col">Tahun Semester</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            {% for i in jadwal %}
            <tbody>
                <tr>
                    <td>{{i.nama_matkul}}</td>
                    <td>{{i.jumlah_sks}}</td>
                    <td>{{i.ruang_kelas}}</td>
                    <td>{{i.deskripsi_matkul}}</td>
                    <td>{{i.nama_dosen}}</td>
                    <td>{{i.tahun_semester}}</td>
                    <td><a  href = "{% url 'hapus' pk=i.pk %}"><button class="btn btn-icon btn-warning"><i class="fa fa-trash"></i>
                </button></a></td>
                <td>
                </tr>
                
            {% endfor %}
            </tbody>
        </table>...
		</div>
		<div class="col-md-2 pl-1 pt-5">
					<a href="{% url 'jadwal' %}"><input type="submit" value="Kembali"></a>

		</div>
</div>
</body>
</html>
